/* You can add global styles to this file, and also import other style files */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
@import "../libs/shared/src/lib/styles/color-constants.scss";
@import "../libs/shared/src/lib/styles/toast-customization.scss";
@import "ngx-toastr/toastr";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Importing Bootstrap SCSS file. */

body {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
}


/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


  .tertiary-btn {
    font-weight: 500;
    cursor: pointer;
    font-size: 14px;
    color: #2874f0;
    margin-left: auto;
    border: none;
    background-color: white;
  }

  .error-txt {
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    color: #be2222;
  }